<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Vibration for haptic feedback -->
    <uses-permission android:name="android.permission.VIBRATE" />
    
    <!-- Storage for CSV import (legacy) -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" 
        android:maxSdkVersion="32" />

    <application
        android:name=".RollCallApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RollCall"
        tools:targetApi="34">
        
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.RollCall"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".ui.createclass.CreateClassActivity"
            android:label="Create Class"
            android:parentActivityName=".ui.main.MainActivity"
            android:theme="@style/Theme.RollCall" />
            
        <activity
            android:name=".ui.attendance.AttendanceActivity"
            android:label="Take Attendance"
            android:parentActivityName=".ui.main.MainActivity"
            android:theme="@style/Theme.RollCall" />
            
        <activity
            android:name=".ui.report.ReportActivity"
            android:label="Attendance Report"
            android:parentActivityName=".ui.main.MainActivity"
            android:theme="@style/Theme.RollCall" />
            
        <activity
            android:name=".ui.history.HistoryActivity"
            android:label="History"
            android:parentActivityName=".ui.main.MainActivity"
            android:theme="@style/Theme.RollCall" />
            
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="Settings"
            android:parentActivityName=".ui.main.MainActivity"
            android:theme="@style/Theme.RollCall" />
        
    </application>

</manifest>
